/wiki/
App-phoebe/.prove
App-phoebe/blib
App-phoebe/MANIFEST*
App-phoebe/MYMETA*
App-phoebe/Makefile
App-phoebe/Makefile.old
App-phoebe/pm_to_blib
App-phoebe/*.gz
App-phoebe/test-[0-9][0-9][0-9][0-9]/
debian/App-phoebe*
debian/libapp-phoebe-perl*
