[Unit]
Description=Gemini Wiki
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/gemini
ExecStart=/home/gemini/gemini-wiki
Restart=always
User=gemini
Group=gemini
[Install]
WantedBy=multi-user.target
